<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/signin.css" rel="stylesheet">

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/js/app.js"></script>
    @*<script src="~/js/config.js"></script>*@
    <script src="~/js/controllers/login.js"></script>
</head>
<body ng-app="appPersonal" ng-controller="loginController">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="jumbotron">
                    <div ng-show="!isRegister">
                        <form name="formLogin" class="form-signin" ng-submit="checkLogin()">
                            <h2 class="form-signin-heading">Sign in</h2>
                            <input name="email" type="email" class="form-control" placeholder="Email" required ng-model="user.email" />
                            <input name="password" type="password" class="form-control" placeholder="Password" required ng-model="user.password" />
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in" ng-click="checkLogin()" />
                        </form>
                        <div class="alert alert-warning" role="alert" ng-show="formLogin.email.$dirty && !formLogin.email.$valid">Field email isn't right.</div>
                        <div class="alert alert-warning" role="alert" ng-show="formLogin.password.$dirty && !formLogin.password.$valid">Field password is required.</div>
                        <div class="alert alert-danger" role="alert" ng-show="camposInvalidos">Check required fields!</div>
                        <div class="alert alert-danger" role="alert" ng-show="emailOrPasswordWrong">Email or password wrong!</div>
                        <center><h4>Don't have account? <a href="" ng-click="prepararFormCreate()">Sign up here</a></h4></center>
                    </div>
                    <div>
                        <form class="form-signin" ng-submit="createUser()" ng-show="isRegister">
                            <h2 class="form-signin-heading">Sign up</h2>
                            <input class="form-control" placeholder="Email address" ng-model="user.email" />
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
                            <input type="password" class="form-control" placeholder="Repeat the password" ng-model="passwordRepeat" />
                            <input type="button" class="btn btn-lg btn-primary btn-block" value="Sign up" ng-click="createUser()" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</body>
</html>
