<div ng-init="LoadBillList()">
    <h1 class="page-header">Search Bill</h1>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Bill name" ng-model="nameSearch">
        </div>
        <button type="submit" class="btn btn-default" ng-click="LoadBillListByName(nameSearch)">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th ng-click="criterioOrder = 'Name'">
                    Name
                </th>
                <th ng-click="criterioOrder = 'Operation'">
                    Operation
                </th>
                <th ng-click="criterioOrder = 'Value'">
                    Value
                </th>
                <th ng-click="criterioOrder = 'Date'">
                    Date
                </th>
                <th ng-click="criterioOrder = 'Method'">
                    Method
                </th>
                <th ng-click="criterioOrder = 'State'">
                    State
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bill in billList | orderBy : criterioOrder">
                <td>
                    {{bill.Name}}
                </td>
                <td>
                    {{bill.Operation}}
                </td>
                <td>
                    {{bill.Value}}
                </td>
                <td>
                    {{bill.Date | date}}
                </td>
                <td>
                    {{bill.Method}}
                </td>
                <td>
                    {{bill.State}}
                </td>
            </tr>
        </tbody>
    </table>
</div>